/* Reset de estilos padrões */
body, form, fieldset, legend, label, input, select, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilo do formulário */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e4f7dd;
}

fieldset {
	max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e4f7dd;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background-color: #85fa85;
}

input[type="submit"] {
  padding: 10px;
  background-color: #2ecc71;
  color: #bdf1c2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #27ae60;
}
